
header {
    background-color: var(--dark-blue);
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: solid 1px var(--low-blue);
}

header .main-title .logo-icon {
    width: 35px;
    height: 35px;
    margin: 1em 0.2em 1em 1em;
    vertical-align: middle;
}

header .main-title {
    background: linear-gradient(90deg, var(--blue), var(--purple));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5em;
    vertical-align: middle;
}

header .container-three-bars {
    position: absolute;
    top: 0;
    right: 0;
}

header .three-bars {
    fill: var(--blue);
    width: 25px;
    height: 25px;
    margin: 1em;
    vertical-align: middle;
    text-align: left;
}

header .three-bars:hover {
    fill: var(--white);
}

header .container-options {
    background-color: var(--dark-blue);
    position: absolute;
    width: 100%;
    padding: 0 1em;
    display: none;
}

header .container-options .options {
    font-weight: var(--title-font-weight);
    background-color: var(--blue);
    color: var(--dark-blue);
    display: block;
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0.5em 0;
    opacity: 0.8;
    cursor: pointer;
}

header .container-options .options:hover{
    transform: scale(1.02);
    opacity: 1;
}
header .container-options .options img{
    vertical-align: middle;
}

.options-animation-open-class{
    animation: options-animation-open 0.4s;
}
.options-animation-close-class{
    animation: options-animation-close 0.4s;
}
@keyframes options-animation-open {
    0%{
        transform: translateX(100%) scale(2);
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}
@keyframes options-animation-close {
    0%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}

header .container-options-lg {
    margin-left: 1rem;
}

header .container-options-lg .options {
    font-weight: var(--title-font-weight);
    background-color: var(--blue);
    color: var(--dark-blue);
    display: inline-block;
    border-radius: 0.2em;
    padding: 0.2em 0.5em;
    margin: 0.5em;
    opacity: 0.8;
    cursor: pointer;
}

header .container-options-lg .options:hover {
    opacity: 1;
}

header .container-options-lg .options img {
    vertical-align: middle;
}
