@media screen and (min-width: 600px) {
    header {
        text-align: center;
    }
    header .three-bars{
        display: none;
    }
}

header{
    background-color: var(--dark-blue);
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: solid 1px var(--low-blue);
}
header .logo-icon{
    width: 35px;
    height: 35px;
    margin: 1em;
    vertical-align: middle;
}
header .container-three-bars{
    position: absolute;
    top: 0;
    right: 0;
}
header .three-bars{
    fill: var(--blue);
    width: 25px;
    height: 25px;
    margin: 1em;
    vertical-align: middle;
    text-align: left;
}
header .three-bars:hover{
    fill: var(--white);
}
header .container-options{
    background-color: var(--dark-blue);
    position: absolute;
    width: 100%;
    padding: 0 1em;
    display: none;
}
header .container-options .options{
    font-weight: var(--title-font-weight);
    background-color: var(--blue);
    color: var(--black);
    display: block;
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0.5em 0;
    opacity: 0.8;
    cursor: pointer;
}
header .container-options .options:hover{
    transform: scale(1.02);
    opacity: 1;
}
header .container-options .options img{
    vertical-align: middle;
}

.options-animation-open-class{
    animation: options-animation-open 0.4s;
}
.options-animation-close-class{
    animation: options-animation-close 0.4s;
}
@keyframes options-animation-open {
    0%{
        transform: translateX(100%) scale(2);
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}
@keyframes options-animation-close {
    0%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}
