/* --------------- Main --------------- */

:root {
    --white: #e0e0e0;
    --dark-white: #e0e0e0;
    --black: #000000;
    --black-transparent: #000000a0;
    --red: #e05050;
    --yellow: #e0e050;
    --blue: #5090e0;
    --dark-blue: #101515;
    --low-blue: #608de050;
    --green: #50e090;
    --light-green: #50ff90;
    --purple: #e050e0;
    --title-font-weight: 600;
    --text-font-weight: 100;
}

*{
    color: var(--white);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    font-family: 'Play';
    font-weight: var(--text-font-weight);
}

html{
    background-color: var(--dark-blue);
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* --------------- Customize --------------- */

::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}