:root {
    --white: #f0f0f0;
    --dark-white: #e0e0e0;
    --black: #000000;
    --black-transparent: #000000a0;
    --red: #e06060;
    --yellow: #e0de60;
    --blue: #608de0;
    --dark-blue: #101515;
    --low-blue: #608de050;
    --green: #60e090;
    --light-green: #50ff90;
    --title-font-weight: 600;
    --text-font-weight: 100;
}
*{
    color: var(--white);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 1em;
    font-family: 'Play';
    font-weight: var(--text-font-weight);
}
html{
    background-color: var(--dark-blue);
}
main{
    display: none;
}
nav{
    max-width: 800px;
    margin-top: 2em;
    border: solid 1px var(--low-blue);
}
nav div{
    display: grid;
    height: 350px;
    overflow: hidden;
}
nav div img{
    width: 100%;
    height: 100%;
}
nav div h1{
    color: var(--green);
    text-shadow: var(--light-green) 0 0 10px;
    font-weight: var(--title-font-weight);
    font-size: 5em;
    place-self: center;
    position: absolute;
    animation: main-title-animation 5s infinite;
}
@keyframes main-title-animation{
    0%{
        transform: rotateX(0deg);
        text-shadow: var(--light-green) 0 0 10px;
        opacity: 1;
    }
    2%{
        transform: rotateX(0deg);
        text-shadow: var(--light-green) 5px -5px 10px;
        opacity: 0.5;
    }
    4%{
        transform: rotateX(-30deg);
        text-shadow: var(--light-green) -10px 5px 5px;
        opacity: 0.5;
    }
    6%{
        transform: rotateX(0deg);
        text-shadow: var(--light-green) -5px -5px 5px;
        opacity: 1;
    }
    8%{
        transform: rotateX(0deg);
        text-shadow: var(--light-green) 0 0 10px;
        opacity: 1;
    }
}
nav div h1 p{
    color: var(--red);
    text-shadow: var(--red) 0 0 5px;
    font-weight: var(--title-font-weight);
    font-size: 0.15em;
    text-align: center;
}
article{
    background-color: var(--dark-blue);
    padding: 1em;
    max-width: 800px;
    margin-top: 1em;
    border: solid 1px var(--low-blue);
}
article h1{
    background-color: var(--blue);
    padding: 0.5em 1em;
    margin-top: 5em;
    border-radius: 0.2em 0.2em 0 0;
}
article section{
    background-color: var(--black-transparent);
    border-left: solid 2px var(--blue);
    padding: 1em;
    border-radius: 0 0 0.2em 0.2em;
}
.links{
    color: var(--yellow);
}
.unique-word{
    color: var(--red);
    font-weight: var(--title-font-weight);
}
.album-container{
    display: table;
    text-align: center;
    margin: 1em 0;
}
.album-container .album{
    width: 45%;
    margin: 0.4em;
    opacity: 0.8;
    transition: transform 200ms;
    border-radius: 10px;
}
.album-container .album:hover{
    opacity: 1;
    transform: scale(1.1);
}
.contact-icons-container{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.contact-icons-container .contact-icons{
    opacity: 0.8;
    transition: transform 200ms;
}
.contact-icons-container .contact-icons:hover{
    opacity: 1;
    transform: scale(1.15);
}
footer{
    font-size: 0.8em;
    padding: 1em;
    margin-top: 15em;
}